@font-face {
  font-family: "ITC";
  src: url("../fonts/ITC--bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura--bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

p {
  font-family: "ITC";
}